<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3917903631-5m3rnbimibdsksq4e7aei3l91kdpdo7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3917903631-5m3rnbimibdsksq4e7aei3l91kdpdo7v</string>
	<key>API_KEY</key>
	<string>AIzaSyDlZEAsAQJWKHy6IOcOm2hdUJsyC_wkY_I</string>
	<key>GCM_SENDER_ID</key>
	<string>3917903631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.APPtest</string>
	<key>PROJECT_ID</key>
	<string>apps-3e7e5</string>
	<key>STORAGE_BUCKET</key>
	<string>apps-3e7e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3917903631:ios:92f6599c3119640460b07a</string>
</dict>
</plist>